# Ignore Python cache files and folders
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore PyCharm project files and folders
**.idea/

# Ignore compiled files and logs
*.log
*.out

# Ignore OS-specific files
.DS_Store
Thumbs.db
